.faq-section {
  background-color: #f9f9f9;
  padding: 100px 0px 60px 0px;
}
.faq-section-dark {
  background-color: rgb(17, 15, 15);
  padding: 100px 0px 60px 0px;
}
.faq-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.faq-title {
  color: #333;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 0;
}

.faq-title-dark {
  color: #f8f5f5;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .faq-title-dark {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .faq-title-dark {
    font-size: 42px;
  }
}

@media (min-width: 768px) {
  .faq-title {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .faq-title {
    font-size: 42px;
  }
}

.grow-business-button {
  background-color: #ff5722 !important;
  color: white !important;
  border: none !important;
  font-weight: bold !important;
  padding: 8px 20px !important;
  border-radius: 10px !important;
  transition: all 0.3s ease !important;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.grow-business-button:hover {
  background-color: #333 !important;
  color: white !important;
}

.grow-business-button .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.grow-business-button::after {
  content: "→";
  position: relative;
  transition: transform 0.3s ease, content 0.3s ease;
  font-size: 1.2rem;
  margin-left: 10px;
}

.grow-business-button:hover::after {
  content: "↓";
  transform: translateY(5px);
}

.grow-business-button:hover span {
  transform: translateY(-5px);
}

.newsletter-box {
  background-color: #1c1c1e;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.newsletter-box h4 {
  font-size: 22px;
}

.newsletter-box p {
  font-size: 16px;
  color: #ccc;
}
.join-coummunity-input {
  border: none;
  outline: none;
  padding: 10px 00px 10px 20px;
  font-size: 16px;
}
.join-community-btn {
  background-color: #ff5a00;
  border: none;
  outline: none;
  padding: 10px 0px;
  font-size: 16px;
}
.join-community-btn:hover {
  background-color: #ff5a00;
}

.faq-list .accordion-button {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 20px 0px;
  border-top: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
  color: #333;
}
.faq-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-acc-item {
  border: none;
}
.faq-list .accordion-button:not(.collapsed) {
  color: #ff5a00;
}

.faq-list .accordion-body {
  background-color: white;
  padding: 20px;
  color: #edecec;
}

.faq-list-dark .accordion-body {
  background-color: rgb(17, 15, 15);
  padding: 20px;
  color: #ccc;
}

@media (max-width: 767.98px) {
  .faq-title {
    font-size: 2rem;
  }

  @media (max-width: 767.98px) {
    .faq-title-dark {
      font-size: 2rem;
    }
  }
  .grow-business-btn {
    width: 100%;
  }

  .faq-list {
    margin-top: 20px;
  }
}
